{% extends 'base.html.twig' %}

{% block title %}Casino index{% endblock %}

{% block body %}
    <h1>Casino index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Url</th>
                <th>Slug</th>
                <th>Content</th>
                <th>PublishedAt</th>
                <th>AllowedCountries</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for casino in casinos %}
            <tr>
                <td>{{ casino.id }}</td>
                <td>{{ casino.title }}</td>
                <td>{{ casino.url }}</td>
                <td>{{ casino.slug }}</td>
                <td>{{ casino.content }}</td>
                <td>{{ casino.publishedAt ? casino.publishedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ casino.allowedCountries ? casino.allowedCountries|join(', ') : '' }}</td>
                <td>{{ casino.image }}</td>
                <td>
                    <a href="{{ path('casino_show', {'id': casino.id}) }}">show</a>
                    <a href="{{ path('casino_edit', {'id': casino.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('casino_new') }}">Create new</a>
{% endblock %}
