{% extends 'base.html.twig' %}

{% block body %}


<div class="my-3 p-3 bg-white rounded shadow-sm">
    <h2>
        {{ task.title }}
    </h2>
    <p>
        {{ task.description }}
    </p>
    {% if (is_owner != true and currentUserAlredySubmitted != true) %}
    <small class="d-block text-right mt-3">
        <a href="{{ path('task_application', {'id':task.id}) }}">
            <button type="button" class="btn btn-primary">Apply</button>
        </a>
    </small>
    {% endif %}

    <section class="row air-card-divider-sm">
        <div class="col-lg-6">
            <h4>Activity on this task</h4>

            <ul class="list-unstyled">
                <li class="justify-xs-md">
                    <span class="text-muted primary">
                        Proposals:
                    </span>
                    {{ taskApplicationCount }}
                </li>


                {#<li class="justify-xs-md">
                    <span class="primary text-muted">Interviewing:</span>
                    TODO
                </li>#}


            </ul>
        </div>

    </section>
</div>

{% if currentUserSubmission is not null %}
<div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0">Your Application</h6>

    <h2>
        {{ currentUserSubmission.hourlyRate }} HRK / Sat
    </h2>
    <p>
        {{ currentUserSubmission.coverLetter }}
    </p>

</div>
{% endif %}

<div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0">Details</h6>

    <table class="table">
{#        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
        </tr>
        </thead>#}
        <tbody>
        <tr>
            <th scope="row">Category</th>
            <td>{{ category.getTitle }}</td>
        </tr>
        <tr>
            <th scope="row">Phone number</th>
            <td>{{ phoneNumber.getNumber }}</td>
        </tr>
        <tr>
            <th scope="row">Level of expertise</th>
            <td>{{ task.levelOfExpertise }}</td>
        </tr>
        {% if task.getDueDate is not null %}
        <tr>
            <th scope="row">Due date</th>
            <td>{{ task.getDueDate|date("m/d/Y")  }}</td>
        </tr>
        {% endif %}
        {% if task.location is not null %}
            <tr>
                <th scope="row">Location</th>
                <td>
                    {{ task.location.country }},
                    {{ task.location.city }}.
                    {{ task.location.address }}.
                </td>
            </tr>
        {% endif %}
        {% if task.budget is not null %}
            <tr>
                <th scope="row">Budget</th>
                <td>{{ task.budget }} HRK</td>
            </tr>
        {% endif %}
        {% if task.duration is not null %}
            <tr>
                <th scope="row">Duration</th>
                <td>{{ task.duration }} days</td>
            </tr>
        {% endif %}
        </tbody>
    </table>

</div>



{% endblock %}


