{% extends 'base.html.twig' %}


{% block body %}
<div class="my-3 p-3 bg-white rounded shadow-sm">
    <h4>
        {{ task.title }}
    </h4>
    <p>
        {{ task.description }}
    </p>
</div>

<div class="my-3 p-3 bg-white rounded shadow-sm">
    <h2 class="border-bottom border-gray pb-2 mb-0">
        Submit a proposal
    </h2>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
</div>
{% endblock %}
