{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="mt-3 col-md-3 text-center bg-white rounded shadow-sm">


            <h2>
                {{ casino.title }}
            </h2>
            <img
                    src="{{ asset('uploads/images/' ~ casino.image) }}"
                    alt="{{ casino.title }}"
                    class="rounded mx-auto d-block"
            >
            <p>
                {{ casino.content | raw }}
            </p>
            <p>
                <a href="{{ casino.getUrl }}" target="_blank">
                    <button type="button" class="btn btn-success">Play now >></button>
                </a>

            </p>



        </div>
        <div class="col-md-9">
            <div class="my-3 p-3 bg-white rounded shadow-sm">
                <h2>
                    {{ bonus.title }}
                </h2>
                <p>
                    {{ bonus.content | raw }}
                </p>
                {% if bonus.getBonusCode %}
                <p class="font-weight-bold">
                    Bonus code:
                    <div class="alert alert-danger" role="alert">
                        {{ bonus.getBonusCode }}
                    </div>
                </p>
                {% endif %}

            </div>
        </div>
    </div>
</div>





<div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0">Details</h6>

    <table class="table-responsive">
{#        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
        </tr>
        </thead>#}

        <tr>
            <th scope="row">Category</th>
            <td>{{ category.getTitle }}</td>
        </tr>
        {% if bonus.doesNotExpire == false %}
        <tr>
            <th scope="row">Expires at</th>
            <td>{{ bonus.expiryDate|date(" h:i:s A m/d/Y") }}</td>
        </tr>
        {% endif %}
        <tr style="max-width: 100%;">
            <th scope="row">Allowed countries</th>

            <td>
                <p style="word-wrap: break-word;">
                    {{ allowedCountriesCSV }}
                </p>
            </td>
        </tr>
{#        <tr>
            <th scope="row">Level of expertise</th>
            <td>{{ bonus.levelOfExpertise }}</td>
        </tr>
        {% if bonus.getDueDate is not null %}
        <tr>
            <th scope="row">Due date</th>
            <td>{{ bonus.getDueDate|date("m/d/Y")  }}</td>
        </tr>
        {% endif %}
        {% if bonus.location is not null %}
            <tr>
                <th scope="row">Location</th>
                <td>
                    {{ bonus.location.country }},
                    {{ bonus.location.city }}.
                    {{ bonus.location.address }}.
                </td>
            </tr>
        {% endif %}
        {% if bonus.budget is not null %}
            <tr>
                <th scope="row">Budget</th>
                <td>{{ bonus.budget }} HRK</td>
            </tr>
        {% endif %}
        {% if bonus.duration is not null %}
            <tr>
                <th scope="row">Duration</th>
                <td>{{ bonus.duration }} days</td>
            </tr>
        {% endif %}#}
        </tbody>
    </table>

</div>



{% endblock %}


